* {
    margin: 0;
    box-sizing: border-box;
}

.swiper-pagination {
    margin-bottom: 3.5%;
}

.swiper-button-prev {
    margin-left: 4%;
}

.swiper-button-next {
    margin-right: 4%;
}

:root {
    --swiper-theme-color: #fff !important;
    background-color: black;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}
